@using EntityLayer.Concrete

@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3> Hakkımızda Veri Girişi </h3>

<div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Hakkımda Başlığı</th>
                <th>Aktif Yap</th>
                <th>Pasif Yap</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.AboutId</td>
                    <td>Başlık</td>
                    <td>
                        <a href="#"
                           class="btn btn-success btn-sm">
                            Aktif Yap
                        </a>
                    </td>
                    <td>
                        <a href="#"
                           class="btn btn-danger btn-sm">
                            Pasif Yap
                        </a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>

<br />

@Html.Action("AddAbuotPartial","About")

