
@{
    Layout = null;
}

<br />
<h3> Mvc Kamp Tablo Örneği - Kategori </h3>
<br />
<table>
    <tr>
        <th><b>Id</b></th>
        <th><b>Kategori Adı</b></th>
        <th><b>Açıklama</b></th>
        <th><b>Durum</b></th>
    </tr>
    <tr>
        <th>1</th>
        <th>Eğitim</th>
        <th>Bi şeyler bi şeyler</th>
        <th>true</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Spor</th>
        <th>Bi şeyler bi şeyler</th>
        <th>true</th>
    </tr>
</table>